 /* CSS COMMENT*/

tr:hover{background-color:#becce2} thead {background-color:#4d85dd; } 

h4.DelimWarning {
	text-align: center;
	color: #eb051d

}

td {
    width: 25%; 
    border: 1px solid #000000;
    word-wrap: break-word;
}

#utc {
	 font: normal normal bold 15px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #00664c;
	word-wrap: break-word;
}


/* Makes search box grow when clicked*/
input[type=text] {
  width: 130px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 250px;
}

#Printdelim {
	color: green; font-size: 18px;
}


textarea {
	font-family: 'Inconsolata', monospace ;
	font-size: 12px       !important;
	width: 95%;
	background-color: #eee;
}
  

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px;
	text-align: center      !important;  /* Overrides externall CSS */
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
a {
	display:block;
	color: #ffffff !important; /* Overrides externall CSS */
} 

.close {
    color: #0000d9 !important; 
    opacity: 1 !important;
}

.aside {
    background-color: #33b5e5;
    padding: 12px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;   
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 15%;}                /* reduced from 25 to shrink left nav */
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 65%;}                /* Change width of footer */
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	}